{{ define "header" }}
<div class="header">
  <h1>{{ .Site.Title }}</h1>
  <img src="/png/logo.png" alt="Logo" width="128" height="128" style="margin: -20px;">
  <h6> Astrophotography by <a target="_blank" href="https://jacob.mcswain.dev">Jacob McSwain</a></h6>
  <div id="nav">
    <h2>
      {{ $isActive := or (eq .Kind "home") (eq .Section "gallery") }}
      {{ $activeLinkClasses := "router-link-active router-link-exact-active" }}
      <a href="/" class="{{- if $isActive }}{{$activeLinkClasses}}{{end}}" aria-current="page">Gallery</a>&nbsp;|
      {{ $isActive := eq .Section "about" }}
      <a href="/about" class="{{- if $isActive }}{{$activeLinkClasses}}{{end}}">About</a>&nbsp;|
      {{ $isActive := eq .Section "equipment" }}
      <a href="/equipment" class="{{- if $isActive }}{{$activeLinkClasses}}{{end}}">Equipment</a>&nbsp;
    </h2>
  </div>
</div>
{{ end }}